ul.topRightMenu li a i{font-size:1rem; color:#333;}
ul.topRightMenu li a:hover i{color:#21A79C}


.ddp-ui-sub-myinfo {display:none; position:absolute; top:50px; right:0; width:280px; background-color:#fff; z-index:30; white-space:nowrap; border:1px solid #dcdfe1; box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);}
.ddp-ui-sub-myinfo .ddp-wrap-data {padding:20px 30px 0 30px; background-color:#4d527d;}
.ddp-ui-sub-myinfo .ddp-data-name {display:block; font-size:16px; color:#fff; font-weight:bold;}
.ddp-ui-sub-myinfo span.ddp-data-team {display:block; padding-bottom:10px;  color:#9c9c9c; font-size:13px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.ddp-ui-sub-myinfo span.ddp-data-mail {display:block; padding-bottom:22px;color:#c1cef1; font-size:13px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo {padding:15px 0;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li {position:relative; float:inherit;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li a {display:block; position:relative; width:100%; height:inherit; padding:10px 0 10px 27px; margin:0; color:#444; font-size:14px; line-height:1.3em; overflow:inherit; box-sizing:border-box;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li:hover a { font-weight:bold; background:none;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo > li:hover > a:before {display:inline-block; position:absolute; top:50%; left:0; margin-top:-10px; height:20px; width:3px; background:#666eb2; content:'';}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li .ddp-hover-status {position:absolute; top:12px; right:30px;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li .ddp-hover-status .ddp-status-active {font-weight:normal;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li ul.ddp-list-popup li {padding:0;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li ul.ddp-list-popup li a {padding:4px 30px 4px 14px; border-left:none; font-weight:normal;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li ul.ddp-list-popup li a:hover {font-weight:normal; background-color:#f6f6f7;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li a .ddp-txt-list {display:block; position:relative; padding-left:22px;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo > li > a [class*="ddp-icon-"]{display:inline-block; position:absolute; top:50%; left:0; background:url(../../../../../assets/images/icon_userinfo.png) no-repeat;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li a .ddp-icon-info-profile {width:12px; height:12px; margin-top:-6px;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li a .ddp-icon-info-language {width:15px; height:15px; margin-top:-8px; background-position:left -13px;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li a .ddp-icon-info-theme {width:11px; height:13px; margin-top:-7px; background-position:left -26px;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li .ddp-theme-check {position:absolute; top:50%; right:32px; margin-top:-8px;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li .ddp-theme-check label {float:left; margin-left:8px;cursor:pointer;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li .ddp-theme-check label i {display:inline-block; position:relative; width:16px; height:16px; background-color:#666eb2;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li .ddp-theme-check label.type-dark i {background-color:#4b515b;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li .ddp-theme-check label input {display:none;}
.ddp-ui-sub-myinfo .ddp-list-sub-myinfo li .ddp-theme-check label input[type='checkbox']:checked + i:before {display:inline-block; width:11px;height:8px; position:absolute; top:50%; left:50%; background:url(../../../../../assets/images/icon_select2.png) no-repeat; background-position:-27px top; margin:-4px 0 0 -6px; content:'';}
.ddp-ui-sub-myinfo .ddp-ui-part {border-top:1px solid #e7e7ea;}
.ddp-ui-sub-myinfo .ddp-ui-part a {position:relative; display:block; padding:15px 27px; color:#4b515b; font-size:14px;}
.ddp-ui-sub-myinfo .ddp-ui-part a:hover {font-weight:bold;}
.ddp-ui-sub-myinfo .ddp-ui-part a:hover:before {display:inline-block; position:absolute; top:50%; left:0; margin-top:-10px; height:20px; width:3px; background:#666eb2; content:'';}
.ddp-layout-header .ddp-wrap-myinfo.ddp-selected .ddp-ui-sub-myinfo {display:block;}


.sideMenu{
  width: 25px;
}
